.header {
  width: 500px auto;
  background-color: red;

}

.logo {
  width: 500px;
  
  background-color: blue;

}

.submit {
  width: 500px;
  height: 500px;
  background-color: yellow;

}

.pull-requests {

 width: 500px;
  height: 500px;
  background-color: green;

}
