.header {
  margin: 0 auto;
  background-color: red;
}

.logo {
  background-color: blue;
  float: left;
}

.submit {
  background-color: grey;
  float: left;
}

.pull-requests {
  background-color: green;
  float: left;
}

#avatar  {
  background-color: yellow;
}

#username {
  background-color: orange;
}
