.logo {
  width: 30px;
  float: left;
}

.submit {
  float: left;
  color: grey;
}

.pull-requests {
  float: left;
  margin: 1px 10px;
}

.issues {
  float: left;
  margin: 1px 10px;
}

.gist {
  float: left;
  margin: 1px 10px;
}
